/*全体*/
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background-color: #fff;

    /*左上から右下*/
    background-image: repeating-linear-gradient(45deg,
            rgba(180, 210, 253, 0.5),
            rgba(180, 210, 253, 0.5) 40px,
            transparent 0,
            transparent 80px),

        /*右上から左下*/
        repeating-linear-gradient(315deg,
            rgba(180, 210, 253, 0.5),
            rgba(180, 210, 253, 0.5) 40px,
            transparent 0,
            transparent 80px);
}

/*ヘッダーCSS*/
.header {
    margin: 0;
    width: 90%;
    background-color: aqua;
    border-radius: 20px;
    box-shadow: 0px 7px 15px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 30px;
    transform: translate(-50%, -50%);
    animation: header-fadein 1s ease 0s 1 normal;
}

@keyframes header-fadein {

    0% {
        opacity: 0;
        transform: translate(-50%, -100%);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

}

.header-title {
    margin: 0;
    font-size: 20px;
    margin-left: 15px;
    width: fit-content;
}

/*あとで削除*/
.header-title p {
    margin: 0;
    margin-top: auto;
    margin-bottom: auto;
}

.headr-icon {
    width: fit-content;
    margin-left: auto;
    margin-right: 5px;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
}

.headr-icon {
    margin-top: 5px;
    margin-bottom: 5px;
}

/*メイン*/
.heade-virtual-space {
    height: 4em;
}

.info-and-twitter{
    display:flex;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.info-space {
    width:calc(100%/2);
    box-sizing: border-box;
    height: fit-content;
    border: aqua solid;
    background: white;
    border-radius: 20px;
    box-shadow: 0px 7px 15px 5px rgba(0, 0, 0, 0.4);
    animation: info-fadein 1s ease 0s 1 normal;
    margin: 1%;
}

@keyframes info-fadein {

    0% {
        opacity: 0;
        transform: translate(-100%, 0%);
    }

    100% {
        opacity: 1;
        transform: translate(0%, 0%);
    }

}

.info-head {
    margin: 0;
}

.info-head p {
    margin: 0;
    text-align: center;
    border-bottom: aqua 2px solid;
    margin-bottom: 5px;
}

.info-body {
    width: 90%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.info-body iframe {
    width: 100%;
}

.info-foot {
    width: 100%;
}

.show-more-button {
    margin: 0;
    text-align: center;
    border: 2px solid;
    padding:0 3px 0 3px;
    margin-bottom: 3px;
    border-radius: 20px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.show-more-button:hover {
    background-color: black;
}

.show-more-button:hover .show-more-button-a {
    color: white;
}

.show-more-button-a{
    text-decoration: none;
    color: black;
}

.main h1 {
    text-align: center;
}

.twitter-space{
    width: calc(100%/2);
    box-sizing: border-box;
    margin: 1%;
}

.twitter-space iframe{
    overflow-y: scroll;
    height: 100%;
    animation: twitter-fadein 1s ease 0s 1 normal;
    border-radius: 20px;
    border: aqua solid;
    width: 100%;
    box-shadow: 0px 7px 15px 5px rgba(0, 0, 0, 0.4);
}

@keyframes twitter-fadein {

    0% {
        opacity: 0;
        transform: translate(100%, 0%);
    }

    100% {
        opacity: 1;
        transform: translate(0%, 0%);
    }

}

/*フッター(仮)*/
.footer {
    margin: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
    background-color: aqua;
    position: absolute;
}

.footer p {
    margin: 0;
    font-size: 15px;
    text-align: center;
}